{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "sort-imports": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "object-curly-spacing": ["error", "always"]
  }
}
