version: '3.8'
services:
  syncing-server-js:
    image: syncing-server-js-local
    build: .
    entrypoint: ["./wait-for.sh", "db", "3306", "./wait-for.sh", "cache", "6379", "./docker/entrypoint.sh", "start-local"]
    env_file: .env
    restart: unless-stopped
    ports:
      - 3000:${PORT}
    networks:
      - syncing_server_js
    volumes:
      - .:/var/www

  syncing-server-js-worker:
    image: syncing-server-js-local
    build: .
    entrypoint: ["./wait-for.sh", "syncing-server-js", "3000", "./docker/entrypoint.sh", "start-worker"]
    env_file: .env
    restart: unless-stopped
    networks:
      - syncing_server_js
    volumes:
      - .:/var/www

  api-gateway:
    image: standardnotes/api-gateway:1.3.1
    env_file: docker/api-gateway.env
    environment:
      PORT: 3000
    entrypoint: ["./wait-for.sh", "auth", "3000", "./wait-for.sh", "syncing-server-js", "3000", "./docker/entrypoint.sh", "start-web"]
    ports:
      - 3124:3000
    networks:
      - syncing_server_js

  auth:
    image: standardnotes/auth:1.3.5
    entrypoint: ["./wait-for.sh", "syncing-server-js", "3000", "./docker/entrypoint.sh", "start-web"]
    env_file: docker/auth.env
    networks:
      - syncing_server_js

  auth-worker:
    image: standardnotes/auth:1.3.5
    entrypoint: ["./wait-for.sh", "auth", "3000", "./docker/entrypoint.sh", "start-worker"]
    env_file: docker/auth.env
    networks:
      - syncing_server_js

  db:
    image: mysql:5.6
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    ports:
      - 32789:3306
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      - syncing_server_js

  cache:
    image: redis:6.0-alpine
    volumes:
      - ./data/redis/:/data
    ports:
      - 6380:6379
    networks:
      - syncing_server_js

networks:
  syncing_server_js:
    name: syncing_server_js
