version: '3.8'
services:
  web:
    image: syncing-server-js-local
    build: .
    entrypoint: ["./wait-for.sh", "db", "3306", "./wait-for.sh", "cache", "6379", "./docker/entrypoint.sh", "start-local"]
    env_file: .env
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_REPLICA_HOST: db
    ports:
      - 3000:${PORT}
    networks:
      standardnotes_proxy:
        aliases:
          - syncing_server_js
      syncing_server_js: {}
    volumes:
      - .:/var/www

  worker:
    image: syncing-server-js-local
    entrypoint: ["./wait-for.sh", "web", "3000", "./docker/entrypoint.sh", "start-worker"]
    env_file: .env
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_REPLICA_HOST: db
      USER_SERVER_REGISTRATION_URL: http://website/admin/events/registration
      USER_SERVER_AUTH_KEY: foo456
    networks:
      standardnotes_proxy:
        aliases:
          - syncing_server_js_worker
      syncing_server_js: {}
    volumes:
      - .:/var/www

  db:
    image: mysql:5.6
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    expose:
      - 3306
    ports:
      - 32789:3306
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      - syncing_server_js

  cache:
    image: redis:6.0-alpine
    volumes:
      - ./data/redis/:/data
    expose:
      - 6379
    ports:
      - 6380:6379
    networks:
      - syncing_server_js

networks:
  syncing_server_js:
    name: syncing_server_js
  standardnotes_proxy:
    name: standardnotes
