LOG_LEVEL="info"
NODE_ENV="production"

AUTH_JWT_TTL=60000

DD_TRACE_ENABLED=false
DD_ENV="local"
DD_SERVICE="auth"

REDIS_EVENTS_CHANNEL="auth-events"

DISABLE_USER_REGISTRATION=false

ENCRYPTION_SERVER_KEY=change-me-!

PORT=3000
